{% load staticfiles %}
{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
<footer class="page-footer">
  <hr>
  <div class="container">
    <p>&copy; Company 2019</p>
  </div>
</footer>
