{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
<header class="page-header sticky-top">
  {# <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark" role="navigation"> #}
  <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">{% trans "table_orders" %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="{% trans 'toggle_navigation' %}">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {# <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> #}
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item {% if navlink == 'table_orders:table_order' %}active{% endif %}">
            {# {% if request.resolver_match.url_name %}active{% endif %} #}
            <a class="nav-link" href="{% url 'table_orders:table_order_today' %}">{% trans "table_order" %}</a>
          </li>
          <!-- <li class="nav-item {% if navlink == 'table_orders:for_future' %}active{% endif %}">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{% trans "for_future" %}</a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0 flex-nowrap">
          {# <input class="form-control mr-sm-2" type="search" placeholder="{% trans 'search' %}" aria-label="{% trans 'search' %}"> #}
          <input class="form-control mr-2 custom-search-input" type="search" placeholder="{% trans 'search' %}" aria-label="{% trans 'search' %}">
          {# <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">{% trans "search" %}</button> #}
          {# <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">{% trans "search" %}</button> #}
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">{% trans "search" %}</button>
        </form>
      </div>
    </div>
  </nav>
</header>
