{% extends "table_orders/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load cache %}

{% block title %}{% trans "success_order" %}{% endblock title %}

{% block content %}
<main>
  <div class="container">
    <div class="row pt-3">
      <div class="col-md-12 d-sm-flex text-center justify-content-center">
        <h1>{% trans "success_order" %}</h1>
      </div>
      <div class="col-md-12">
        <hr>
        <p class="mb-0">
          {% trans "return_text_before_link" %}
          <a href="{% url 'table_orders:table_order_today' %}" class="alert-link">
            {% trans "return_text_link" %}
          </a>
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
