{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load cache %}

{% for error in form.non_field_errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{% trans "error" %}: </strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<div class="hall hall-blue">
  {% for table in all_tables %}
    <div class="table{% if table.shape == 'ellipse' %} table-ellipse{% endif %}{% if table in taken_tables %} table-taken{% else %}{% if table.number in selected_tables %} active{% endif %}{% endif %}"
         style="width: {{ table.width }}%;
         height: {{ table.height }}%;
         left: {{ table.coordinate_left }}%;
         top: {{ table.coordinate_top }}%">{{ table.number }}</div>
  {% endfor %}
</div>
