{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load cache %}
<form id="orderTableForm" class="d-none" method="post" accept-charset="utf-8" novalidate action="{% url 'table_orders:table_order' date.year date.month date.day %}">
  {% csrf_token %}
  {# {{ form.non_field_errors }} #}
  {% for field in form %}
    {% if not field.name == 'tables' %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}{{ field.type }}</label>
        {{ field }}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-outline-primary">{% trans "submit" %}</button>
</form>
