{% extends "table_orders/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load table_extras %}
{% load cache %}

{% block title %}{% trans "table_orders" %}{% endblock title %}

{% block content %}
<main>
  <div class="container">
    <div class="row pt-3">
      <div class="col-md-12 d-sm-flex text-center justify-content-center">
        <h2>{% trans "table_order" %}&nbsp</h2>
        <p class="h2">{{ date }}</p>
      </div>

      <div class="col-3 text-right justify-content-right"><a href="{% url 'table_orders:table_order_today' %}{{ date|add_days:-1|date:"Y/m/d" }}" class="btn btn-outline-secondary"><<</a></div>
      <div class="col-6 text-center justify-content-center">
        <div class="form-group">
          <input type="date" id="orderDate" class="form-control" value="{{ date|date:"Y-m-d" }}">
        </div>
      </div>
      <div class="col-3 text-left justify-content-left"><a href="{% url 'table_orders:table_order' date|add_days:1|date:'Y' date|add_days:1|date:'m' date|add_days:1|date:'d' %}" class="btn btn-outline-secondary">>></a></div>

      <div class="col-md-6  mb-3 mb-md-0">{% include "table_orders/table_orders_map.html" %}</div>
      <div class="col-md-6  mb-3 mb-md-0">{% include "table_orders/table_orders_form.html" %}</div>
    </div>
  </div>
</main>
{% endblock content %}
