.hall {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-width: 3px;
  border-style: solid;
  position: relative;
  background-color: #80B6E5;
  border-color: darkblue;
}

.hall-blue {
  background-color: #80B6E5;
  border-color: darkblue;
}

.table {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #37a1d5;
  color: darkblue;
}

.table-blue {
  background-color: #37a1d5;
  color: darkblue;
}

.table-taken {
  background-color: #d5a137;
  color: darkorange;
  color: darkred;
}

.table.active {
  background-color: #087EB8;
}

.table-ellipse {
  border-radius: 50%;
}

.table-rectangle {
  border-radius: 0px;
}
